body,
h1,
p {
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 56px;
}

.button {
  cursor: pointer;
}

.button-approve,
.button-remove {
  font-size: 18px;
  color: #afafaf;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button-approve:hover,
.button-remove:hover {
  color: #889dea;
}

.button-approve {
  margin-right: 17px;
}

.header {
  background-color: #889dea;
  border-bottom-right-radius: 41px;
  padding-top: 8px;
}

.header__title {
  text-align: center;
  font-size: 24px;
  line-height: 133.33333%;
  font-weight: 900;
  color: #fff;
  margin-bottom: 32px;
}

.header__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 38px;
}

.header__info-title {
  color: #fff;
  font-size: 12px;
  line-height: 133.33333%;
  margin-bottom: 12px;
}

.header__info-text {
  font-size: 56px;
  line-height: 1;
  font-weight: 600;
  color: #fefefe;
  text-align: center;
}

.header__button {
  width: 48px;
  height: 48px;
  background-color: #88eaa9;
  border: none;
  outline: none;
  border-radius: 11px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: relative;
  top: 23px;
  margin: 0 auto;
}

.header__button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  content: "";
  width: 36px;
  height: 36px;
  background-image: url(../img/plus.svg);
}

.todos {
  padding-top: 86px;
}

.todos__item {
  border-bottom: 1px solid #c7c7c7;
}

.todos__item-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.todos__item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todos__item-checkbox {
  width: 18px;
  height: 18px;
  border: 1px solid #889dea;
  margin-left: 0;
}

.todos__item-date {
  color: #889dea;
  padding-left: 5px;
  font-size: 12px;
  line-height: 133.33333%;
}

.todos__item-right {
  margin-right: 32px;
}

.todos__item-input {
  width: 85%;
  outline: none;
  border: none;
  padding-left: 26px;
  font-size: 14px;
  line-height: 157.14286%;
  color: #3f3f3f;
}

.todos__item-input:disabled {
  background-color: white;
}

.todos__item-input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 157.14286%;
  color: #bbb;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.todos__item-input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 157.14286%;
  color: #bbb;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.todos__item-input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 157.14286%;
  color: #bbb;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.todos__item-input::placeholder {
  font-size: 14px;
  line-height: 157.14286%;
  color: #bbb;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
/*# sourceMappingURL=styles.css.map */