@import "utils/reset";
@import "utils/vars";

@import "components/header";
@import "components/todos";

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: $violet;
}

.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 56px;
}

.button {
  cursor: pointer;
  display: block;
}

.fas,
.far {
  display: inline-block;
}

.button-approve,
.button-edit,
.button-remove {
  font-size: 18px;
  color: #afafaf;
  transition: all 0.3s;

  &:hover {
    color: $violet;
  }
}

.button-approve,
.button-edit {
  margin-right: 17px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
}